:root {
  //--color-light-blue: #a5bfd5;
  --color-light-blue: #a3bbcf;
  --color-middle-blue: #3d83a6;
  --color-dark-blue: #024760;

  --border-radius-sm: 6px;
  --border-radius-md: 8px;
  --border-radius-lg: 10px;
  --border-radius-xlg: 16px;
}
